/* Establishing scroll-behavior for internal page navigation. */
html {
  scroll-behavior: smooth;
}

/* <<< Page Layout & Formatting (start) >>> */

  /* Establishing the background image that will span the entire page, repeating when necessary. This will be changed to a background color after removing the image. */
body {
  background-color: #F2EDEB;
}

  /* Establishing the visual representation of the "header" and "footer" sections via a background color. */
header, footer {
  background-color: #BD93BD;
  margin-top: -54px;
}

  /* Establishing the content area for the page. */
main {
  margin: 20px 0px 74px 0px;
}

/* <<< Page Layout & Formatting (end) >>> */




/* <<< Content Formatting (start) >>> */

  /* << Text Formatting (start) >> */

    /* Aligning all headings throughout the page to the center of the page. */
h1, h2, h3, h4 {
  text-align: center;
}

    /* Establishing the font-family for the h3 and h4. */
h3, h4 {
  font-family: 'Times New Roman', Times, serif;
}

    /* Justifying all paragraphs (and related listed, ordered and unordered) throughout the page, as well as establishing the font-family and font-size. */
p, ul, ol {
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

    /* Establishing the font-family and font-size for the h2. */
h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 45px;
  color: #BD93BD;
}

    /* Establishing the font-size for the h3. */
h3 {
  font-size: 35px;
}

    /* Establishing the font-size and vertical spacing for the h4. */
h4 {
  font-size: 20px;
  padding: 5px 0px 0px 0px;
}

    /* Establishing a black text color for the "header" and "footer" sections. */
header, footer {
  color: #F2EDEB;
}

    /* Establishing a white text color for the "main" section. */
main {
  color: #353535;
}

    /* Establishing the font-family, font-size, and color for the h1. */
h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 80px;
}

  /* << Text Formatting (end) >> */


  /* << Horizontal Rule Formatting (start) >> */

    /* Establishing the diamond-shaped horizontal rules found in the "main" section. */
main > div > article > hr {
  width: 25px;
  height: 25px;
  background: #BD93BD;
  color: #BD93BD;
  margin-top: 50px;
  margin-bottom: 50px;
  transform: rotate(45deg)
}
  /* << Horizontal Rule Formatting (end) >> */


  /* << Image Formatting (start) >> */

    /* Aligning all images found in the "main" section to the center of the page. */
.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}

    /* Establishing the horizontal spacing between the images (some of which are active external links) found in the "footer" section. */
.external-links {
  padding: 0px;
  margin: 0px 113px 0px 113px;
  width: 40px;
  height: 40px;
}

  /* << Image Formatting (end) >> */


  /* << Link Formatting (start) >> */

    /* Establishing button blocks (and their spacing) around the internal links found in the "header" section. */
.left-button-internal-link {
  display: inline-block;
  margin: 0px 60px 5px 100px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  background-color: #F2EDEB;
}

.mid-button-internal-links {
  display: inline-block;
  margin: 0px 60px 5px 60px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  background-color: #F2EDEB;
}

.right-button-internal-link {
  display: inline-block;
  margin: 0px 100px 5px 60px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  background-color: #F2EDEB;
}

    /* Establishing the color-state hierarchy for the internal links found in the "header" section. */
header > div > nav > a:link {color: #BD93BD}
header > div > nav > a:visited {color: darkblue} 
header > div > nav > a:hover {color: darkmagenta}
header > div > nav > a:active {color: maroon}

    /* Establishing the color-state hierarchy for the internal and external links found in the "main" section. */
main > div > article > section > p > a:link {color: #BD93BD}
main > div > article > section > p > a:visited {color: darkmagenta}
main > div > article > section > p > a:hover {color: cornflowerblue}
main > div > article > section > p > a:active {color: darkblue}

main > div > article > section > ol > li > a:link {color: #BD93BD}
main > div > article > section > ol > li > a:visited {color: darkmagenta}
main > div > article > section > ol > li > a:hover {color: cornflowerblue}
main > div > article > section > ol > li > a:active {color: darkblue}

    /* Establishing the color-state hierarchy for the internal links found in the "footer" section. */
footer > div > nav > a:link {color: #F2EDEB}
footer > div > nav > a:visited {color: black}
footer > div > nav > a:hover {color: darkblue}
footer > div > nav > a:active {color: maroon}

    /* Establishing the horizontal spacing between the internal links found in the "footer" section. */
.footer-internal-links {
  margin: 0px 73px 5px 73px;
}

  /* << Link Formatting (end) >> */

/* <<< Content Formatting (end) >>> */
