/* <<< Page Layout & Formatting (start) >>> */

  /* Establishing the background image (or color) for the "body". */
body {
  background-image: url(images/gray-watermark-mini-flowers.gif);
  /* background-color: #F2EDEB; */
}

  /* Establishing the background color for the "header" and "footer" sections. */
header, footer {
  background-color: #BD93BD;
}

  /* Establishing a border around the "div" (designated with the "home" ID) within the "header" section. This is being done to mitigate an unforeseen margin issue at the top of the page. */
#home {
  border: 1px solid #BD93BD;
}

  /* Establishing the vertical spacing between the content area for the page and the "header" and "footer" sections. */
main {
  margin: 20px 0px;
}

  /* Establishing the horizontal spacing between the content area and the overall border of the page. */
section {
	padding: 0 25%; /* ADJUST THIS */
}

/* <<< Page Layout & Formatting (end) >>> */


/* <<< Content Formatting (start) >>> */

  /* << Text Formatting (start) >> */

    /* Aligning all headings throughout the page to the center of the page. */
h1, h2, h3, h4 {
  text-align: center;
}

    /* Establishing the font-family for the h3 and h4. */
h3, h4 {
  font-family: 'Times New Roman', Times, serif;
}

    /* Establishing the font-family and font-size for the p, ul, and ol. */
p, ul, ol {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

    /* Establishing the font-family, font color, and font-size for the h2. */
h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 45px;
  color: #BD93BD;
}

    /* Establishing the font-size for the h3. */
h3 {
  font-size: 35px;
}

    /* Establishing the font-size and vertical spacing for the h4. */
h4 {
  font-size: 20px;
  padding: 5px 0px 0px 0px;
}

    /* Establishing the text color for the "header" and "footer" sections. */
header, footer {
  color: #F2EDEB;
}

    /* Establishing the text color for the "main" section. */
main {
  color: #353535;
}

    /* Establishing the font-family and font-size for the h1. */
h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 80px;
}

  /* << Text Formatting (end) >> */


  /* << Horizontal Rule Formatting (start) >> */

    /* Establishing the diamond-shaped horizontal rules found in the "main" section. */
main > div > article > hr {
  width: 25px;
  height: 25px;
  background: #BD93BD;
  color: #BD93BD;
  margin-top: 50px;
  margin-bottom: 50px;
  transform: rotate(45deg)
}
  /* << Horizontal Rule Formatting (end) >> */


  /* << Image Formatting (start) >> */

    /* Aligning all images found in the "main" section to the center of the page. */
.image-center {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  border: 1px solid #F2EDEB;
}

    /* Establishing the horizontal spacing between the images (some of which are active external links) found in the "footer" section. */
.external-links {
  padding: 0px;
  margin: 0px 1px 0px 1px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #BD93BD;
}

  /* << Image Formatting (end) >> */


  /* << Link Formatting (start) >> */

    /* Establishing button blocks (and their spacing) around the internal links found in the "header" section. */
.button-internal-links {
  display: inline-block;
  margin: 0px 1px 5px 1px;
  padding: 5px 2px;
  border-radius: 5px;
  background-color: #F2EDEB;
}

.flex-container {
  display: flex;
  justify-content: center;
  background-color: #BD93BD;
}

    /* Establishing the color-state hierarchy for the internal links found in the "header" and "footer" sections. */
header > div > nav > div > a:link, footer > div > nav > div > a:link {color: #BD93BD}
header > div > nav > div > a:visited, footer > div > nav > div > a:visited {color: darkblue} 
header > div > nav > div > a:hover, footer > div > nav > div > a:hover {color: darkmagenta}
header > div > nav > div > a:active, footer > div > nav > div > a:active {color: maroon}

    /* Establishing the color-state hierarchy for the internal and external links found in the "main" section. */
main > div > article > section > p > a:link {color: #BD93BD}
main > div > article > section > p > a:visited {color: darkblue}
main > div > article > section > p > a:hover {color: darkmagenta}
main > div > article > section > p > a:active {color: maroon}

main > div > article > section > ol > li > a:link {color: #BD93BD}
main > div > article > section > ol > li > a:visited {color: darkblue}
main > div > article > section > ol > li > a:hover {color: darkmagenta}
main > div > article > section > ol > li > a:active {color: maroon}

    /* Establishing the horizontal spacing between the internal links found in the "footer" section. */

  /* << Link Formatting (end) >> */

/* <<< Content Formatting (end) >>> */


/* <<< Page Behavior (start) >>> */

  /* Establishing scroll-behavior for internal page navigation. */
html {
  scroll-behavior: smooth;
}

/* <<< Page Behavior (end) >>> */
